@font-face {
    font-family:Source Sans Pro;
    font-style:normal;
    font-weight:100;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:italic;
    font-weight:100;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:normal;
    font-weight:300;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:italic;
    font-weight:300;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:normal;
    font-weight:400;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:italic;
    font-weight:400;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:normal;
    font-weight:500;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:italic;
    font-weight:500;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-SemiboldItalic.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:normal;
    font-weight:700;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype")
}
@font-face {
    font-family:Source Sans Pro;
    font-style:italic;
    font-weight:700;
    src:url("http://ios.intsig.com:9001/third-fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf") format("truetype")
}